[flake8]
exclude =
    .venv
    .vscode
    .dist
    docs
    __init__.py
max-line-length = 88
extend-ignore =
    # D100: Missing docstring in public module
    D100,
    # D203: 1 blank line required before class docstring (conflicts with D211)
    D203,
    # D213: Multi-line docstring summary should start at the second line
    D213,
    # D401: First line should be in imperative mood
    D401,
    # D406: Section name should end with a new line ("Returns")
    D406,
    # D407: Missing dashed underline after section ("Returns")
    D407,
    # D413: Missing dashed underline after last section
    D413
per-file-ignores = 
    __init__.py: F401